
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 85%;
}

.title {
  padding: 20px;
}

.placeHolder {
  margin: 66px; 
}

.msgInput {
  margin: 18px;
  width: 75%;
}

.nowrap {
  white-space: pre ;
  z-index: 4;
}

#continue {
  float: right;
}