<div class="card">
        <div class="title">
          <h4 class="card-title">Message Transmission Demo</h4>
          <h6 class="card-subtitle mb-2 text-muted">CSC 567-01</h6>
        </div>
      </div>

<!-- top card group -->
<div class="card-group">

    <!-- left netowork layer card -->
    <div class='card'>
        <div class="card-header">

                <!-- input reactive form  -->
                <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                        <input class="msgInput" type="text" formControlName="msg">
                        <input type="submit" class="btn btn-outline-secondary" value="Send"  [disabled]="!rForm.valid">
                </form>

        </div> 

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{application.message}} #a="ngbPopover" triggers="manual" placement="right" popoverTitle="Pop title">
            Application
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{presentation.message}} #b="ngbPopover" triggers="manual" placement="right" popoverTitle="Pop title">
            Presentation
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{session.message}} #c="ngbPopover" triggers="manual" placement="right" popoverTitle="Pop title">
            Session
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{transport.message}} #d="ngbPopover" triggers="manual" placement="right" popoverTitle="Pop title">
            Transport
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{network.message}} #e="ngbPopover" triggers="manual" placement="right" popoverTitle="Pop title">
            Network
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{datalink.message}} #f="ngbPopover" triggers="manual" placement="right" popoverTitle="Pop title">
            Data Link
        </button>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{physical.message}} #g="ngbPopover" triggers="manual" placement="right" popoverTitle="Testing One Two">
            Physical
        </button>
    </div>

    <!-- middle card -->
    <div class='card'>

        <!-- progress spinner  -->
        <div class="card-block">
                <md-progress-spinner
                *ngIf="showSpin;"
                class="progressSpin"
                [color]="color"
                [mode]="spinMode"
                [value]="value">
            </md-progress-spinner>
        </div>

    </div>

    <!-- right network layer card -->
    <div class='card'>
        <div class="card-header">    

            <!-- message display alert -->
            <div *ngIf="!message.shown ; else successMsg" class="placeHolder">  
            </div> 
            <ngb-alert [@theMessage]="message.state"  class="successMsg" type="success" (close)="closeMessage(message)">{{message.payload}}</ngb-alert>

        </div>

        <button type="button" class="btn btn-outline-secondary" ngbPopover={{application.message}} #l="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Application
        </button>
    
        <button type="button" class="btn btn-outline-secondary" ngbPopover={{presentation.message}} #m="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Presentation
        </button>
    
        <button type="button" class="btn btn-outline-secondary" ngbPopover={{session.message}} #n="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Session
        </button>
    
        <button type="button" class="btn btn-outline-secondary" ngbPopover={{transport.message}} #o="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Transport
         </button>
    
        <button type="button" class="btn btn-outline-secondary" ngbPopover={{network.message}} #p="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Network
        </button>
    
        <button type="button" class="btn btn-outline-secondary" ngbPopover={{datalink.message}} #q="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Data Link
        </button>
    
        <button type="button" class="btn btn-outline-secondary" ngbPopover={{physical.message}} #r="ngbPopover" triggers="manual" placement="left" popoverTitle="Pop title">
            Physical
        </button>
    </div>
</div>

<!-- bottom card deck for router and signal  -->
<div class='card-group'>

    <div class='card'>
        <div class="card-block">
            <p class="computer" [@myComputer]='computer1.state' (mouseenter)="animateComputer(computer1)" (mouseleave)="animateComputer(computer1)">Computer 1</p>
        </div>
    </div>

    <!-- progress bar one  -->
    <div class='card text-center'>
            <div class="card-block">
                    <p class="progressBar">
                        <md-progress-bar class='bar' [mode]="barMode"></md-progress-bar>
                    </p>
           </div>
       </div>

    <div class='card'>
        <div class="card-block" >
            <p class="router" [@myRouter]='router1.state' (mouseenter)="animateRouter(router1)" (mouseleave)="animateRouter(router1)">Router 1</p>
        </div>
    </div> 

    <!-- progress bar two  -->
    <div class='card'>
         <div class="card-block">
                <p class="progressBar">
                    <md-progress-bar class='bar' [mode]="barMode"></md-progress-bar>
                </p>
        </div>
    </div>

    <div class='card'>
        <div class="card-block">
                <p class="router" [@myRouter]='router2.state' (mouseenter)="animateRouter(router2)" (mouseleave)="animateRouter(router2)">Router 2</p>
        </div>
    </div>

    <!-- progress bar three  -->
    <div class='card'>
            <div class="card-block">
                 <p class="progressBar">
                    <md-progress-bar class='bar' [mode]="barMode"></md-progress-bar>
                </p>
           </div>
       </div>

    <div class='card'>
            <div class="card-block">
                    <p class="computer" [@myComputer]='computer2.state' (mouseenter)="animateComputer(computer2)" (mouseleave)="animateComputer(computer2)">Computer 2</p>
            </div>
    </div>
</div>

<!--Signal View -->
<div class='card'>
    Signal View Card 
</div>
  