<!-- Title Card -->
<div class="card">
        <div class="title">
          <h4 class="card-title">Message Transmission Demo 2</h4>
          <h6 class="card-subtitle mb-2 text-muted">CSC 567-01</h6>
        </div>
</div>

<!-- host 2 card group -->
<div class="card-group">

    <div class='card'>
        <div class="card-block">
            <p class="card-text">PlaceholderPlaceholderPlaceholderPlaceholderPlaceholderPlaceholderPlaceholder.</p>
        </div>
    </div>

    <div class='card' id="rightHost">
        <div class="card-header">    
        
            <!-- message display alert -->
            <div *ngIf="!message.shown ; else successMsg" class="placeHolder"></div> 
            <ngb-alert *ngIf="message.shown" class="successMsg" type="success" (close)="closeMessage(message)">{{message.payload}}</ngb-alert>
        
        </div>
        
        <ng-template #applicationContent>
            <p>
                <span class="nowrap">{{application.message}}</span>
            </p>
        </ng-template>
            
        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="applicationContent" #a="ngbPopover" triggers="manual" placement="left" popoverTitle="Upper Layer Data"
            (mouseenter)="popOpen(popApp)" (mouseleave)="popClose(popApp)" (click)="diffLayer(application)" container="body">
            Application
        </button>
        
        <ng-template #presentationContent>
            <p>
                <span class="nowrap">{{presentation.message}}</span>
            </p>
        </ng-template>
            
        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="presentationContent" #b="ngbPopover" triggers="manual" placement="left" popoverTitle="Upper Layer Data"
            (mouseenter)="popOpen(popPres)" (mouseleave)="popClose(popPres)" (click)="diffLayer(presentation)" container="body">
            Presentation
        </button>
        
        <ng-template #sessionContent>
            <p>
                <span class="nowrap">{{session.message}}</span>
            </p>
        </ng-template>

        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="sessionContent" #c="ngbPopover" triggers="manual" placement="left" popoverTitle="Upper Layer Data"
            (mouseenter)="popOpen(popSess)" (mouseleave)="popClose(popSess)" (click)="diffLayer(session)" container="body">
            Session
        </button>
        
        <ng-template #transportContent>
            <p>
                <span class="nowrap">{{transport.message}}</span>
            </p>
        </ng-template>

        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="transportContent" #d="ngbPopover" triggers="manual" placement="left" popoverTitle="Segments"
            (mouseenter)="popOpen(popTrans)" (mouseleave)="popClose(popTrans)" (click)="diffLayer(transport)" container="body">
            Transport
        </button>
        
        <ng-template #networkContent>
            <p>
                <span class="nowrap">{{network.message}}</span>
            </p>
        </ng-template>

        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="networkContent" #e="ngbPopover" triggers="manual" placement="left" popoverTitle="Packets"
            (mouseenter)="popOpen(popNet)" (mouseleave)="popClose(popNet)" (click)="diffLayer(network)" container="body">
            Network
        </button>
        
        <ng-template #datalinkContent>
            <p>
                <span class="nowrap">{{datalink.message}}</span>
            </p>
        </ng-template>

        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="datalinkContent" #f="ngbPopover" triggers="manual" placement="left" popoverTitle="Frames"
            (mouseenter)="popOpen(popData)" (mouseleave)="popClose(popData)" (click)="diffLayer(datalink)" container="body">
            Data Link
        </button>
        
        <ng-template #physicalContent>
            <p>
                <span class="nowrap">{{physical.message}}</span>
            </p>
        </ng-template>

        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="physicalContent" #g="ngbPopover" triggers="manual" placement="left" popoverTitle="Bits"
            (mouseenter)="popOpen(popPhys)" (mouseleave)="popClose(popPhys)" (click)="diffLayer(physical)" container="body">
            Physical
        </button>
    </div>

</div>
    
<!--Signal View -->
<!-- <div *ngIf="!switch" class='card'>
   <app-signal></app-signal>
</div> -->
<!-- Layer View -->
<div *ngIf="switch" class='card'>
    <app-layer></app-layer>
</div>

<button type="submit" class="btn btn-outline-secondary" (click)="addPost()">Continue</button>

  

  