<div [ngSwitch]="layer.name"  class='card'>

    <div class='card' *ngSwitchCase="'application'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'presentation'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'session'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'transport'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'network'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'data_link'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'physical'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'application2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'presentation2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'session2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'transport2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'network2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'data_link2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>

    <div class='card' *ngSwitchCase="'physical2'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>
  
    <div class='card' *ngSwitchCase="'default'">
      <p>{{layer.name}}</p>
      <p>{{layer.message}}</p>
    </div>
    
</div>